body {
    margin: 20px;
    counter-reset: times;
}

.canvas {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 832px;
    width: 832px;
}

.row {
    display: flex;
}

.pixel {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    flex-shrink: 0;
}

.hover {
    counter-increment: times;
    background-color: black;
    opacity: 0.1;
}

.btn {
    font-size: 16px;
}