body {
    margin: 20px;
}

.canvas {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
}

.pixel {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    flex-shrink: 0;
}

.pixel:hover {
    background-color: black;
}
